* {
    --accent: #e27e36;
    --background: #fcfbf8;
    --border: #e5e2dc;
    --foreground: #262626;
    --light: #636363;
    --primary: #3a785b;
    --primary-hover: #3a785be5;
    font-family: 'Inter', sans-serif;
}

body,
html {
    padding: 0;
    margin: 0;
    background: var(--background);
}

nav.navbar  {
    height: 64px;
    display: flex;
    border-bottom: 1px solid var(--border);
}

.navbar-content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content__brand a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.navbar-content__brand a:hover {
    color: var(--primary);
    transition-duration: .3s;
}

.navbar-content__links ul {
    display: flex;
    gap: 32px;
}

.navbar-content__links ul li {
    list-style-type: none;
}

.navbar-content__links ul li a {
    font-size: .875rem;
    text-decoration: none;
    color: var(--foreground);
}

.navbar-content__links ul li a:hover {
    color: var(--primary) !important;
}

.navbar-content__cta {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-content__cta > * {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-content__cta > * span{
    font-size: 1.3rem;
    color: var(--foreground);
}

.navbar-content__cta > *:hover {
    background: var(--accent);
    transition-duration: .3s;
}

.navbar-content__cta > *:hover span {
    color: #FFF;
}

.hero {
    position: relative;
    height: 700px;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.534);
    display: flex;
    align-items: center;
}

.hero-background__content {
    width: 70%;
    margin: auto;
}

.hero-background__content__text {
    width: 40%;
}

.hero-background__content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: var(--foreground);
    margin-bottom: 16px;
}

.hero-background__content h1 .green {
    color: var(--primary);
}

.hero-background__content h2 {
    font-size: 1rem;
    color: var(--foreground);
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 32px;
}

.hero-background__content__text .ctas {
    display: flex;
    align-items: center;
    gap: 16px;
}

button.btn,
a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: unset;
    font-size: .8rem;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button.btn span.material-symbols-outlined,
a.btn span.material-symbols-outlined {
    font-size: 1.2rem;
}

button.btn.btn-primary,
a.btn.btn-primary {
    background: var(--primary);
    color: #FFF;
}

button.btn.btn-primary:hover,
a.btn.btn-primary:hover {
    background: var(--primary-hover);
}

button.btn.btn-secondary,
a.btn.btn-secondary {
    background: #FFF;
    color: var(--foreground);
    border: 1px solid var(--border);
}

a.btn.btn-no-border {
    color: var(--foreground);
}

button.btn.btn-secondary:hover,
a.btn.btn-secondary:hover,
button.btn.btn-no-border:hover,
a.btn.btn-no-border:hover {
    background: var(--accent);
    color: #FFF;
}

.center {
    text-align: center;
}

.collection {
    padding: 64px 0;
}

.collection__content {
    width: 70%;
    margin: auto;
}

.collection__content__header h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--foreground);
    margin-bottom: 16px;
}

.collection__content__header h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--foreground);
}

.collection__content__header p {
    color: var(--light);
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-top: 64px;
}

.product__card {
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
}

.product__card a {
    text-decoration: none;
    color: unset;
}

.product__card a:hover img {
    transform: scale(1.1);
    transition-duration: .3s;
}

.product__card a:hover .product__card__body__title {
    color: var(--primary);
    transition-duration: .3s;
}

.product__card__image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.product__card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .3s;
}

.product__card__body {
    padding: 16px;
}

.product__card__body__title {
    font-size: .9rem;
    color: var(--foreground);
    margin-bottom: 16px;
}

.product__card__body__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card__body__footer__price {
    font-weight: 600;
    color: var(--foreground);
}

.product-page__content {
    width: 70%;
    margin: auto;
    padding: 64px 0;
}

.product-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.product-page__picture {
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
}

.product-page__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-page__informations__title {
    font-weight: 700;
    color: var(--foreground);
    font-size: 2rem;
    margin-bottom: 16px;
}

.product-page__informations__price {
    font-weight: 500;
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 16px;
}

.product-page__informations__description {
    color: var(--foreground);
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 16px;
    padding: 32px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.product-page__informations__details {
    margin-bottom: 32px;
}

.product-page__informations__details .title {
    font-size: .9rem;
    font-weight: 600;
    color: var(--foreground);
    margin-bottom: 16px;
}

.product-page__informations__details ul {
    margin: 0;
    padding: 0 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-page__informations__details ul li {
    font-size: .875rem;
    color: var(--light);
}

.no-details {
    font-size: .875rem;
    color: var(--light);
}

.filters {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

select {
    background: none;
    border: 1px solid var(--border);
    padding: 12px;
    border-radius: 8px;
    font-size: .875rem;
    color: var(--light);
    width: 200px;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}