* {
    --accent: #e27e36;
    --background: #fcfbf8;
    --border: #e5e2dc;
    --foreground: #262626;
    --light: #636363;
    --primary: #3a785b;
    --primary-hover: #3a785be5;
    --red: #ef4444;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    background: var(--background);
    height: 100%;
}

nav.navbar  {
    height: 64px;
    display: flex;
    border-bottom: 1px solid var(--border);
}

.navbar-content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content__brand a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.navbar-content__brand a:hover {
    color: var(--primary);
    transition-duration: .3s;
}

.navbar-content__links ul {
    display: flex;
    gap: 32px;
}

.navbar-content__links ul li {
    list-style-type: none;
}

.navbar-content__links ul li a {
    font-size: .875rem;
    text-decoration: none;
    color: var(--foreground);
}

.navbar-content__links ul li a:hover {
    color: var(--primary) !important;
}

.navbar-content__cta {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-content__cta > * {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar-content__cta button
{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 !important;
    line-height: 0;
}

.navbar-content__cta > * span{
    font-size: 1.3rem;
    color: var(--foreground);
}

.navbar-content__cta > *:hover {
    background: var(--accent);
    transition-duration: .3s;
}

.navbar-content__cta > *:hover span {
    color: #FFF;
}

.cart-nav-container {
    position: relative;
}

.cart-nav-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cart-count {
    width: 24px;
    height: 24px;
    background: var(--primary);
    color: #FFF;
    font-size: .7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    bottom: -4px;
    right: -6px;
    pointer-events: none;
}

.cart-count.hidden {
    display: none;
}

.hero {
    position: relative;
    height: 700px;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.534);
    display: flex;
    align-items: center;
}

.hero-background__content {
    width: 70%;
    margin: auto;
}

.hero-background__content__text {
    width: 40%;
}

.hero-background__content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: var(--foreground);
    margin-bottom: 16px;
}

.hero-background__content h1 .green {
    color: var(--primary);
}

.hero-background__content h2 {
    font-size: 1rem;
    color: var(--foreground);
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 32px;
}

.hero-background__content__text .ctas {
    display: flex;
    align-items: center;
    gap: 16px;
}

button.btn,
a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: unset;
    font-size: .8rem;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button.btn span.material-symbols-outlined,
a.btn span.material-symbols-outlined {
    font-size: 1.2rem;
}

button.btn.btn-primary,
a.btn.btn-primary {
    background: var(--primary);
    color: #FFF;
}

button.btn.btn-primary:hover,
a.btn.btn-primary:hover {
    background: var(--primary-hover);
}

button.btn.btn-secondary,
a.btn.btn-secondary {
    background: #FFF;
    color: var(--foreground);
    border: 1px solid var(--border);
}

a.btn.btn-no-border {
    color: var(--foreground);
}

button.btn.btn-secondary:hover,
a.btn.btn-secondary:hover,
button.btn.btn-no-border:hover,
a.btn.btn-no-border:hover {
    background: var(--accent);
    color: #FFF;
}

.center {
    text-align: center;
}

.collection {
    padding: 64px 0;
}

.collection__content {
    width: 70%;
    margin: auto;
}

.collection__content__header h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--foreground);
    margin-bottom: 16px;
}

.collection__content__header h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--foreground);
}

.collection__content__header p {
    color: var(--light);
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-top: 64px;
}

.product__card {
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
}

.product__card a {
    text-decoration: none;
    color: unset;
}

.product__card a:hover img {
    transform: scale(1.1);
    transition-duration: .3s;
}

.product__card a:hover .product__card__body__title {
    color: var(--primary);
    transition-duration: .3s;
}

.product__card__image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.product__card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .3s;
}

.product__card__body {
    padding: 16px;
}

.product__card__body__title {
    font-size: .9rem;
    color: var(--foreground);
    margin-bottom: 16px;
}

.product__card__body__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__card__body__footer__price {
    font-weight: 600;
    color: var(--foreground);
}

.product-page__content {
    width: 70%;
    margin: auto;
    padding: 64px 0;
}

.product-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.product-page__picture {
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
}

.product-page__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-page__informations__title {
    font-weight: 700;
    color: var(--foreground);
    font-size: 2rem;
    margin-bottom: 16px;
}

.product-page__informations__price {
    font-weight: 500;
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 16px;
}

.product-page__informations__description {
    color: var(--foreground);
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 16px;
    padding: 32px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.product-page__informations__details {
    margin-bottom: 32px;
}

.product-page__informations__details .title {
    font-size: .9rem;
    font-weight: 600;
    color: var(--foreground);
    margin-bottom: 16px;
}

.product-page__informations__details ul {
    margin: 0;
    padding: 0 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-page__informations__details ul li {
    font-size: .875rem;
    color: var(--light);
}

.no-details {
    font-size: .875rem;
    color: var(--light);
}

.filters {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

select {
    background: none;
    border: 1px solid var(--border);
    padding: 12px;
    border-radius: 8px;
    font-size: .875rem;
    color: var(--light);
    width: 200px;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.about {
    width: 45%;
    margin: auto;
    padding: 64px 0;
}

.about h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--foreground);
}

.about h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light);
}

.about-block {
    padding: 32px 0;
}

.about-block:last-child {
    border-top: 1px solid var(--border);
}

.about-block h3 {
    color: var(--foreground);
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0 16px 0;
}

.about-block p {
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin: 0;
}

.about-block__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.about-block__grid__element h4 {
    font-weight: 300;
    color: var(--primary);
    font-size: 1.1rem;
    margin: 0 0 16px 0;
}

.element-text {
    color: var(--light);
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.7rem;
}

.cart-page__content {
    width: 70%;
    margin: auto;
    padding: 64px 0;
}

.cart-page__content__block {
    margin-top: 32px;
}

.cart-page__content__block h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--foreground);
}

.no-result {
    background: #FFF;
    border: 1px solid var(--border);
    padding: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-result__content {
    text-align: center;
}

.no-result__text {
    font-size: .9rem;
    color: var(--light);
    margin-bottom: 16px;
}

.cart-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cart-card__item,
.cart-card__header {
    display: grid;
    grid-template-columns: .5fr 1fr 2fr 2fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.cart-card__header__title {
    color: var(--light);
}

.cart-card__item img {
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
}

.cart-card__item__name {
    font-weight: 600;
    color: var(--foreground);
}

.cart-card__item__price {
    color: var(--light);
}

.cart-card .delete {
    color: var(--red);
}

.cart-card .delete span.material-symbols-outlined {
    font-size: 1.4rem;
}

.cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 32px;
    gap: 32px;
}

.cart-summary {
    background: #FFF;
    border: 1px solid var(--border);
    padding: 32px;
    border-radius: 8px;
}

.cart-summary__title {
    font-weight: 600;
    color: var(--foreground);
    font-size: 1.7rem;
    margin-bottom: 32px;
}

.cart-summary__content__line,
.cart-summary__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-summary__content__line {
    margin-bottom: 16px;
    color: var(--light);
}

.cart-summary__content__line:last-child {
    margin-bottom: 0;
}

.cart-summary__total {
    margin-top: 32px;
    padding-top: 32px;
    font-weight: 600;
    color: var(--foreground);
    border-top: 1px solid var(--border);
}

.cart-summary__footer {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid var(--border);
}

.cart-summary__footer button {
    display: flex;
    width: 100%;
    margin-top: 8px;
    gap: 8px !important;
    font-weight: 600;
}

.cart-summary__footer input {
    width: 100%;
}

input {
    background: none;
    border: 1px solid var(--border);
    padding: 12px;
    border-radius: 8px;
    font-size: .875rem;
    color: var(--light);
    display: block;
}

input:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--primary);
}

.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.toast-container.hidden {
    display: none;
}

.toast {
    background: #FFF;
    border: 1px solid var(--border);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    font-size: .8rem;
    color: var(--foreground);
    animation: up .3s;
}

@keyframes up {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

.toast-title {
    font-weight: 600;
    margin-bottom: 8px;
}

.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
}

.auth-card {
    border: 1px solid var(--border);
    padding: 32px;
    border-radius: 8px;
    width: 28rem;
    background: #FFF;
}

.auth-card h1 {
    color: var(--foreground);
    font-size: 1.4rem;
    font-weight: 600;
}

.auth-card h2 {
    color: var(--light);
    font-size: .9rem;
    font-weight: 400;
}

.input-block {
    padding: 12px 0;
}

.input-block input {
    width: 100%;
    background: var(--background);
}

.input-block label {
    display: inline-block;
    font-size: .875rem;
    color: var(--foreground);
    margin-bottom: 8px;
}

.auth-card button {
    margin-top: 16px;
}

.auth-card .bottom-text {
    margin-top: 32px;
    font-size: .875rem;
    color: var(--light);
}

.auth-card .bottom-text a {
    color: var(--primary);
}

input.invalid {
    border-color: var(--red);
}

.invalid-text {
    font-size: .775rem;
    margin-top: 4px;
    color: var(--red);
}

.alert.alert-error {
    background: var(--red);
    border-radius: 4px;
    margin-bottom: 32px;
    color: #FFF;
    padding: 16px;
    font-size: .775rem;
    font-weight: 400;
}

.alert-title {
    font-weight: 600;
    margin-bottom: 8px;
}