{% extends "layouts/_base.html.twig" %}

{% block title %}{{ config('app.name') }} - Home Page{% endblock %}

{% block content %}
    <div class="absolute w-100 h-100 rounded-full blur-3xl z-[-1] animate-color"></div>
    <div class="max-w-3xl w-full text-center space-y-8">
        <img src="{{ asset('images/logo.png') }}" class="w-32 h-32 object-contain mx-auto" />
        <h1 class="text-5xl font-bold tracking-tight text-slate-800">Welcome to <span class="text-emerald-500">Teardrops</span></h1>
        <p class="text-lg">
            Your application is ready to go! Teardrops is a lightweight PHP framework designed for simplicity and performance.
        </p>
    </div>
{% endblock %}